<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/css du site.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/w3-theme-blue-grey.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}"/>
		<title>Sign Up</title>
	</head>


	<body class="w3-theme-d1">
		<script type="text/javascript">
			function compte(value){
				if(value=="remunere"){
					document.getElementById("seuilDiv").style.display = "none";
					document.getElementById("tauxDiv").style.display = "flex";
				}
				if(value=="seuil"){
					document.getElementById("seuilDiv").style.display = "flex";
					document.getElementById("tauxDiv").style.display = "none";
				}
				if(value=="basique"){
					document.getElementById("seuilDiv").style.display = "none";
					document.getElementById("tauxDiv").style.display = "none";
				}
				
			}
		</script>
		
		<div class="menubody">	
			<!-- MENU -->
			<div th:replace="menu.html :: nav">
			</div>
			<form action="/create_account_process" method="post">
				<div id="formulaire">
					<p>
						<table>
							<label for="libelle"> Nom du compte :</label>
							<input type="text" name="libelle" id="libelle" placeholder="Ex: Livret A" size="30" maxlength="50">
					
							<br />
							<label for="solde"> Solde :</label>
							<input type="text" name="solde" id="solde" 
							placeholder="Ex : 12365" size="30" maxlength="50" />
							<br />
							
							<select id="type" name="type" class="input-xlarge" onchange="compte(this.value)">
	                            <option value="basique" selected="selected">Compte Basique</option>
	                            <option value="remunere">Compte Remunere</option>
	                            <option value="seuil">Compte A Seuil</option>
	                        </select>
	                        
	                        <br />
	                        
	                        <div hidden id="tauxDiv">
								<label for="taux"> Taux :</label>
								<input  type="text" name="taux" id="taux" 
								placeholder="Ex : 0.1" size="30" maxlength="50" />
							</div>
							<br />
							<div hidden id="seuilDiv">
								<label for="seuil"> Seuil :</label>
								<input type="text" name="seuil" id="seuil"
								placeholder="Ex : 562" size="30" maxlength="50" />
							</div>
							
							<br />
							<br />
							<input class="refresh" type="submit" name="Envoyer" />
							
						</table>
					</p>
				</div>
			</form>
		</div>
	</body>
	
</html>
