<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/css du site.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/w3-theme-blue-grey.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}"/>
		<title>Sign In</title>
	</head>
<body>
	<div class="menubody">	
	<!-- MENU -->
		<div th:replace="menu.html :: nav">
		</div>
		
		<!-- TABLE -->
		<div class="limiter">
			<div class="container-table100">
				<div class="wrap-table100">
						<div id="services" class="table">
						
						<!-- ENTETE -->
						<div class="row header">
							<div class="cell">
							Id
							</div>
							<div class="cell">
							Libelle
							</div>
							<div class="cell">
							Solde
							</div>
							<div class="cell">
							Taux
							</div>
							<div class="cell">
							Seuil
							</div>
						</div>
						
						<!-- CORPS -->
						
						<div class="row header" th:each="compte: ${session.client.getTabComptes()}">
							    <div class="cell" th:text="${compte.key}" ></div>
							    <div class="cell" th:text="${compte.value.libelle}" ></div>
							    <div class="cell" th:text="${compte.value.solde}" ></div>
							   	<div class="cell" th:if= "${compte.value instanceof T(com.example.metier.CompteRemunere)}" th:text="${compte.value.taux}" ></div>
								<div class="cell" th:unless= "${compte.value instanceof T(com.example.metier.CompteRemunere)}">∅</div>
								<div class="cell" th:if= "${compte.value instanceof T(com.example.metier.CompteASeuil)}" th:text="${compte.value.seuil}" ></div>
								<div class="cell" th:unless= "${compte.value instanceof T(com.example.metier.CompteASeuil)}">∅</div>
							
						</div>
						
						<!--
						<div class="row header" th:each="compte: ${#session.getAttribute('comptes')}">
							    <div class="cell" th:text="${compte.id}" ></div>
								<div class="cell" th:text="${compte.libelle}" ></div>
								<div class="cell" th:text="${compte.solde}" ></div>
						</div>
						-->
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>