<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/css du site.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/w3-theme-blue-grey.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}"/>
		<title>Sign In</title>
	</head>
<body>
	<div class="menubody">	
	<!-- MENU -->
		<div th:replace="menu.html :: nav">
		</div>
		
		<!-- TABLE -->
		<div class="limiter">
			<div class="container-table100">
				<div class="wrap-table100">
						<div id="services" class="table">
						
						<!-- ENTETE -->
						<div class="row header">
							<div class="cell">
							Id Operation
							</div>
							<div class="cell">
							Libelle Operation
							</div>
							<div class="cell">
							Id Compte
							</div>
							<div class="cell">
							Libelle Compte
							</div>
							<div class="cell">
							Montant
							</div>
							<div class="cell">
							Date
							</div>
						</div>
						
						<!-- CORPS -->
						
						<div class="row header" th:each="op: ${session.client.allOperations()}">
							    <div class="cell" th:text="${op.id}" ></div>
							    <div class="cell" th:text="${op.libelle}" ></div>
							    <div class="cell" th:text="${op.compte.id}" ></div>
							    <div class="cell" th:text="${op.compte.libelle}" ></div>
							    <div class="cell" th:text="${op.montant}" ></div>
								<div class="cell" th:text="${op.date}" ></div>
						</div>
						
						<!--
						<div class="row header" th:each="compte: ${#session.getAttribute('comptes')}">
							    <div class="cell" th:text="${compte.id}" ></div>
								<div class="cell" th:text="${compte.libelle}" ></div>
								<div class="cell" th:text="${compte.solde}" ></div>
						</div>
						-->
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>