<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/css du site.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/w3-theme-blue-grey.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}"/>
		<title>Sign Up</title>
	</head>


	<body class="w3-theme-d1">
		</script>
		
		<div class="menubody">	
			<!-- MENU -->
			<div th:replace="menu.html :: nav">
			</div>
			<form action="/operation_process" method="post">
				<div id="formulaire">
					<p>
						<table>
							<label for="libelle"> Nom de l'operation :</label>
							<input type="text" name="libelle" id="libelle" placeholder="Ex: Virement xx" size="30" maxlength="50">
					
							<br />
							<label for="montant"> Montant :</label>
							<input type="text" name="montant" id="montant" 
							placeholder="Ex : 12365" size="30" maxlength="50" />
							<br />
							
							<select id="account" name="account" class="input-xlarge">
								<div class="acc" th:each="compte: ${session.client.getTabComptes()}">
									<option th:value="${compte.value.id}" th:text="${compte.value.libelle}"></option>
	                            </div>
	                        </select>
	                      
							
							<br />
							<br />
							<input class="refresh" type="submit" name="Envoyer" />
							
						</table>
					</p>
				</div>
			</form>
		</div>
	</body>
	
</html>
